<body>
    <div class="card no-gutters">
        <div class="card-header text-center col-12">
            <h3 class="m-0">Welcome to the D&D name database</h3>
            <p class="m-2">Please enter in a new race below or pick a race from the list to access stored names</p>
        </div>
        <div id="page" class="card-body">
           <div id="menu">
               <ul data-bind="foreach: menuitems">
                   <li>
                       <span data-bind="text: name, Click: $root.menuClick"> </span>
                   </li>
               </ul>
           </div>
            <div id="content" class="col-12 text-center no-gutters">
                
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/knockout")
</body>
