@using page247Drill.ViewModels

@model List<AdminCustQuote>

<div class="row no-gutters m-2">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quotes</h5>
        </div>
        <div class="card-body">
            @foreach(var customer in Model)
            {
            <div class="row">
                <div class="col">
                    @customer.firstName
                </div>
                <div class="col">
                    @customer.lastName
                </div>
                <div class="col">
                    @customer.emailAddress
                </div>
                <div class="col">
                    @customer.Quote
                </div>
            </div>
            }
        </div>
    </div>
</div>

